
/* 
.menu_Item {
    color: #fff!important;
}

.U-Menu {
    line-height: 90px;
    text-align: end;
    font-size: 18px;
    height: 100%;
    padding: 0px 10px 0px 30px;
    border: none;
    font-weight: 500;
    background-color: #FFBA38;
    padding-right: 8rem;
}

.logo {
    background: url("../img/logo.png");
    margin-top: 14px;
    height: 80px;
    width: 180px;
    float: left;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 8px auto;
}

.header-comp {
    position: fixed;
    height: 90px;
    z-index: 98;
    width: 100%;
   
    padding: 0px 0px;
    background: transparent;
    top: 0px;
}

.ant-menu-item:focus, .ant-menu-item:hover {
    outline: none;
} */

/* Studio Page Css */

.uaf_std_hero {
    background-color: #FFBA38;
}

.uaf_hero_title1 {
    text-align: left;
    font: normal normal bold 70px Proxima Nova;
    letter-spacing: 0px;
    color: #FFFFFF;
    line-height: 1;
    margin: 0;
    margin-bottom: 1rem;
}

.uaf_hero_line1 {
    border: none;
    border-top: 8px solid #FFFFFF;
    max-width: 15%;
    margin-left: 0;
}

.uaf_hero_content_title {
    text-align: left;
    font: normal normal bold 35px Proxima Nova;
    letter-spacing: 0px;
    color: #191919;
    line-height: 1.2;
    padding: 2rem 0;
}

.uaf_hero_content_text {
    text-align: left;
    font: normal normal normal 14px Proxima Nova;
    letter-spacing: 0px;
    color: #191919;
    max-width: 530px;
}

.alignSelfCenter {
    align-self: center;
}

.heroImage {
    position: relative;
    left: -160px;
    top: 0;
    width: auto;
    max-width: 750px;
    padding: 80px 0px;
}

.uaf_std_btnrow_btnCol {
    display: inline-block;
    text-align: center;
    border-top: 2px solid #53BDDB;
    border-bottom: 2px solid #53BDDB;
    border-left: 1.3px solid #53BDDB;
    border-right: 1.3px solid #53BDDB;
}

.uaf_std_btnrow_btnCol:first-child {
    border-left: none;
}

.uaf_std_btnrow_btnCol:last-child {
    border-right: none;
}

.uaf_std_btnrow_btnCol a {
    padding: 30px 0;
    display: block;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0px;
    color: #191919;
}

.uaf_std_btn_row {
    max-width: 1920px;
    margin: 0 auto;
}
@media only screen and (device-width:1024px){
    .heroImage{
        left: 0;
        max-width: 100%;
    }
    .uaf_std_hero{
        padding: 3rem 0;
    }
    .UAF-container-fluid{
        overflow-x: hidden;
    }
}
/* section1 */

.uaf_std_section1 {
    padding-top: 9rem;
    text-align: center;
}

.uaf_std_section_header h3 {
    text-align: center;
    font: normal normal bold 40px/67px Proxima Nova;
    letter-spacing: 0px;
    color: #191919;
}

.uaf_std_section_header_line {
    border: none;
    border-top: 8px solid #191919;
    max-width: 10%;
    margin: 1rem auto;
}

.uaf_std_section_header_text {
    font: normal normal normal 14px Proxima Nova;
    letter-spacing: 0px;
    color: #191919;
    max-width: 755px;
    margin: 2rem auto;
}

.uaf_std_section_imgmain {
    margin: 0 auto;
    text-align: left;
}

.uaf_std_section_imgmain img {
    max-width: 100%;
    /* max-height: 630px; */
}

.uaf_std_section_cntnt {
    margin-top: 4rem;
}

.uaf_std_section_left {
    padding-top: 12rem;
    text-align: left;
}

.uaf_std_section_left h3 {
    text-align: left;
    font: normal normal bold 26px Proxima Nova;
    letter-spacing: 0px;
    color: #191919;
}

.uaf_std_section_left p {
    text-align: left;
    font: normal normal normal 14px Proxima Nova;
    letter-spacing: 0px;
    color: #191919;
    max-width: 450px;
    margin: 2rem 0;
}

.uaf_std_section_left a {
    text-align: left;
    font: normal normal normal 14px Proxima Nova;
    letter-spacing: 0px;
    color: #53BDDB;
}

.uaf_std_section_right img {
    max-width: 100%;
}

.uaf_std_section_tile_outer {
    padding: 5rem 0;
}

.uaf_std_section_tile {
    padding: 1rem;
}

.uaf_std_section_tile_img {
    border-radius: 50px;
    width: 70px;
    height: 70px;
    padding: 15px;
    background: #F8F8F8 0% 0% no-repeat padding-box;
    margin: 0 auto;
}

.uaf_std_section_tile_img img {
    width: 40px;
}

.uaf_std_section_tile h3 {
    font: normal normal bold 17px Proxima Nova;
    letter-spacing: 0px;
    color: #191919;
    padding: 1.5rem 0;
}

.uaf_std_section_tile p {
    text-align: center;
    font: normal normal normal 14px Proxima Nova;
    letter-spacing: 0px;
    color: #191919;
    padding: 1rem;
    padding-top: 0;
    max-width: 250px;
    margin: auto;
}

.uaf_std_case_study {
    max-width: 1920px;
    padding: 0;
    background: #F6F6F6 0% 0% no-repeat padding-box;
    margin: 0 auto;
}

.uaf_std_case_study_img img {
    max-width: 100%;
}

.uaf_std_case_study_cntnt {
    max-width: 450px;
    margin: 0 auto;
    text-align: left;
}

.uaf_std_case_study_cntnt h3 {
    text-align: left;
    font: normal normal bold 26px Proxima Nova;
    letter-spacing: 0px;
    color: #191919;
}

.uaf_std_case_study_cntnt hr {
    border: none;
    border-top: 6px solid #191919;
    max-width: 10%;
    margin: 1rem 0;
}

.uaf_std_case_study_cntnt p {
    text-align: left;
    font: normal normal normal 14px Proxima Nova;
    letter-spacing: 0px;
    color: #191919;
    max-width: 420px;
    margin: 2rem 0;
}

.uaf_std_case_study_cntnt a {
    text-align: left;
    font: normal normal normal 14px Proxima Nova;
    letter-spacing: 0px;
    color: #53BDDB;
}

/* Section2 */

.uaf_std_section2 {
    padding-top: 9rem;
    text-align: center;
}

/* Section3 */

.uaf_std_section3 {
    padding-top: 9rem;
    text-align: center;
}

/* Section4 */

.uaf_std_section4 {
    padding-top: 9rem;
    text-align: center;
}

/* Section5 */

.uaf_std_section5 {
    padding-top: 9rem;
    text-align: center;
}

.uaf_std_section5_cntnt img {
    max-width: 450px;
    position: relative;
    top: 75px;
    left: -200px;
    z-index: 2;
}

/* Section6 */

.uaf_std_section6 {
    padding-top: 9rem;
    text-align: center;
}

/* Section7 */

.uaf_std_section7 {
    padding-top: 9rem;
    text-align: center;
}

.uaf_std_section7_tile {
    text-align: left;
}

.uaf_std_section_tile_No {
    background: #F8F8F8 0% 0% no-repeat padding-box;
    padding: 15px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    text-align: center;
    align-self: center;
}

.uaf_std_section_tile_No h1 {
    margin: auto;
    font: normal normal bold 24px/28px Proxima Nova;
    letter-spacing: 0px;
    color: #53BDDB;
    font-weight: 500;
}

.uaf_std_section7_tile h3 {
    text-align: left;
    font: normal normal bold 17px Proxima Nova;
    letter-spacing: 0px;
    color: #53BDDB;
    padding: 1.2rem 0;
}

.uaf_std_section7_tile p {
    text-align: left;
    font: normal normal normal 14px Proxima Nova;
    letter-spacing: 0px;
    color: #191919;
    max-width: 80%;
}

/* Section8 */

.uaf_std_section8 {
    padding-top: 5rem;
    padding-bottom: 4rem;
    text-align: center;
    background: #53BDDB 0% 0% no-repeat padding-box;
}

.uaf_std_section8 h1 {
    font: normal normal bold 70px Proxima Nova;
    letter-spacing: 0px;
    color: #FFFFFF;
    line-height: 1;
    margin: 0;
    margin-bottom: 2.3rem;
    font-weight: 600;
}

.uaf_std_section8 a {
    font: normal normal bold 22px Proxima Nova;
    letter-spacing: 0px;
    color: #FFFFFF;
    line-height: 1;
    margin: 0;
    font-weight: 400;
}

/* Section9 */

.uaf_std_section9 {
    padding-top: 9rem;
    text-align: center;
}

.uaf_std_card {
    border: none;
    border-radius: 10px 10px 0 0;
    background: transparent;
    text-align: left;
}

.uaf_std_card .ant-card-body {
    padding: 1rem 0;
}

.uaf_std_card img {
    box-shadow: none;
    border-radius: 4px;
}

.uaf_std_card_heading {
    text-align: left;
    font: normal normal bold 14px Proxima Nova;
    letter-spacing: 0px;
    color: #191919;
    padding: 0;
    margin-bottom: 8px;
}

.uaf_std_card_date {
    text-align: left;
    font: normal normal normal 14px Proxima Nova;
    letter-spacing: 0px;
    color: #191919!important;
    padding: 0;
}

.uaf_std_section_tile_outer a h3 {
    font: normal normal normal 22px Proxima Nova;
    letter-spacing: 0px;
    color: #53BDDB;
    font-weight: 500;
    padding: 1rem 0;
}

/* Section 10 */

.uaf_std_section10 {
    background: #F9F9F9;
    padding-top: 9rem;
    text-align: center;
}

.ant-input {
    background: transparent;
    border: none;
    border-bottom: 2px solid #70707070;
    border-radius: 0;
}

.ant-input:hover, .ant-input:focus, .ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
    background: transparent;
    border: none;
    border-bottom: 2px solid #70707070;
    border-radius: 0;
    outline: none;
    box-shadow: none;
}

.has-error .ant-input-affix-wrapper .ant-input:focus {
    border-color: #ff4d4f;
    outline: none;
    box-shadow: none;
}

.has-error .ant-input-affix-wrapper .ant-input, .has-error .ant-input-affix-wrapper .ant-input:hover {
    background: transparent;
}

.has-error .ant-form-explain, .has-error .ant-form-split {
    text-align: left;
    font-size: 12px;
}

.has-error .ant-input, .has-error .ant-input:hover {
    background: transparent;
    outline: none;
    box-shadow: none;
}

.uaf_cp_contactform_Main {
    padding: 4rem 3rem;
}

select[name="country"], select[name="city"], select[name="gettoknow"] {
    border: none;
    border-bottom: 2px solid #70707070;
    margin-top: 0;
    outline: none;
    background: transparent;
    border-radius: 0;
    width: 100%;
}

.uaf_cp_formbAboutInput {
    border: 2px solid #70707070!important;
    border-right: 2px solid #70707070!important;
    border-radius: 5px;
}

/* h1.ant-typography, .ant-typography h1, .footer-nav-item a span, .footer-copy-right a, .footer-copy-right {
    color: #ffffff;
} */

div#Get_in_Touch_hearedAt.uaf_cp_formCountryInput > .ant-select-selection.ant-select-selection--single {
    border: none;
    border-radius: 0px;
    background: none;
    border-bottom: 2px solid #ccc;
    box-shadow: none;
}