<div>
    <div dir="ltr" class="gmail_signature" data-smartmail="gmail_signature">
        <div dir="ltr">
            <table cellpadding="0" cellspacing="0"
                style="border-spacing:0px;border-collapse:collapse;color:rgb(68,68,68);width:480px;font-size:10pt;font-family:Arial,sans-serif;line-height:normal">
                <tbody>
                    <tr>
                        <td valign="top" style="padding:10px 0px 12px;width:160px;vertical-align:top"><a
                                href="https://www.upappfactory.com/"
                                style="background-color:transparent;color:rgb(51,122,183)" target="_blank"><img
                                    border="0" alt="Logo" width="141" src="https://i.ibb.co/mczzMpf/UP-Emblem-01.jpg"
                                    style="border:0px;vertical-align:middle;width:141px;height:auto"></a></td>
                        <td style="padding:6px 0px;width:320px">
                            <table cellpadding="0" cellspacing="0"
                                style="border-spacing:0px;border-collapse:collapse;background-color:transparent">
                                <tbody>
                                    <tr>
                                        <td
                                            style="padding:0px;font-size:12pt;font-family:Arial,sans-serif;font-weight:bold;color:rgb(61,60,63)">
                                            <span>Harris A.</span></td>
                                    </tr>
                                    <tr>
                                        <td
                                            style="padding:0px 0px 11px;font-size:10pt;font-family:Arial,sans-serif;color:rgb(61,60,63)">
                                            <span><span zeum4c1="PR_1_0" data-ddnwab="PR_1_0" aria-invalid="spelling"
                                                    class="LI ng">Business & Digital Transformation Consultant</span></td>
                                    </tr>
                                    <tr>
                                        <td
                                            style="padding:0px;font-size:10pt;font-family:Arial,sans-serif;color:rgb(155,155,155)">
                                            <span>phone: +65 6714 6696</span></td>
                                    </tr>
                                    <tr>
                                        <td
                                            style="padding:0px;font-size:10pt;font-family:Arial,sans-serif;color:rgb(155,155,155)">
                                            <span>email:&nbsp;</span><span style="color:rgb(23,147,210)"><a
                                                    href="mailto:harris@upapp.co"
                                                    target="_blank">harris@upapp.co</a></span></td>
                                    </tr>
                                    <tr>
                                        <td
                                            style="padding:0px;font-size:10pt;font-family:Arial,sans-serif;color:rgb(155,155,155)">
                                            <span>UPapp PTE LTD, 531A, Upper Cross St. #04-95, Hong Lim Complex 051531,
                                                Singapore.</span></td>
                                    </tr>
                                    <tr>
                                        <td style="padding:6px 0px 0px"><span
                                                style="display:inline-block;height:22px"><span><a
                                                        href="https://www.facebook.com/UPappfactory/"
                                                        style="background-color:transparent;color:rgb(51,122,183)"
                                                        target="_blank"><img alt="Facebook icon" border="0" width="20"
                                                            height="20"
                                                            src="https://codetwocdn.azureedge.net/images/mail-signatures/generator-dm/elegant-logo/fb.png"
                                                            style="border:0px;vertical-align:middle;height:20px;width:20px"></a>&nbsp;&nbsp;</span><span><a
                                                        href="https://www.linkedin.com/company/upappfactory/"
                                                        style="background-color:transparent;color:rgb(51,122,183)"
                                                        target="_blank"><img alt="LinkedIn icon" border="0" width="20"
                                                            height="20"
                                                            src="https://codetwocdn.azureedge.net/images/mail-signatures/generator-dm/elegant-logo/ln.png"
                                                            style="border:0px;vertical-align:middle;height:20px;width:20px"></a>&nbsp;&nbsp;</span><span><a
                                                        href="https://www.instagram.com/upappfactory/"
                                                        style="background-color:transparent;color:rgb(51,122,183)"
                                                        target="_blank"><img alt="Instagram icon" border="0" width="20"
                                                            height="20"
                                                            src="https://codetwocdn.azureedge.net/images/mail-signatures/generator-dm/elegant-logo/it.png"
                                                            style="border:0px;vertical-align:middle;height:20px;width:20px"></a>&nbsp;&nbsp;</span></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"
                            style="padding:8px 0px 0px;border-top:1px solid rgb(23,147,210);width:480px;font-family:Arial,sans-serif;color:rgb(155,155,155);text-align:justify">
                            <span>This <span zeum4c1="PR_2_0" data-ddnwab="PR_2_0" aria-invalid="spelling"
                                    class="LI ng">e-mail</span> may contain confidential/privileged information. If you
                                are not the intended recipient, please notify the sender and destroy this e-mail. Any
                                unauthorised copying, disclosure or distribution of the material in this <span
                                    zeum4c1="PR_3_0" data-ddnwab="PR_3_0" aria-invalid="spelling"
                                    class="LI ng">e-mail</span> is forbidden.</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>