.card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
	background: #fff !important;
	padding: 16px !important;
}

.card-container > .ant-tabs-card > .ant-tabs-bar {
	border-color: #e8e8e8 !important;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
	border-color: #fff !important;
	border-bottom: #e8e8e8 !important;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
	border-color: #e8e8e8 !important;
	background: #fff;
	border-bottom: #fff !important;
}
