.blog-list-card {
    display: block;
    transition: all 0.3s ease-in-out;
    /* overflow: hidden; */
}

.share-button {
    margin: 5px 15px;
}

span {
    white-space: break-spaces;
}

p {
    white-space: break-spaces;
}

.blog-list-card>.ant-card-body {
    padding: 15px;
}

.blog-list-card:hover img {
    opacity: 0.5;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.ant-card-cover {
    overflow: hidden;
    background-color: #333;
}

.blog-list-card:hover .ant-avatar-image img {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}

.by {
    flex: 1;
    padding: 0 5px 0 8px;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.hover-item {
    visibility: hidden;
    opacity: 0;
    z-index: 3;
    transition: opacity 0.3s ease-in-out;
    display: flex;
    position: absolute;
    right: 15px;
    top: 15px;
}

.blog-list-card:hover .hover-item {
    visibility: visible;
    opacity: 1;
}

.btn-hover-item {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 35px;
    height: 32px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-left: 10px;
}

.btn-hover-default {
    display: block;
    min-width: 23px;
    padding: 0 9px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 11px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1px;
    line-height: 32px;
    border-radius: 50px;
}

.btn-hover-item-number {
    margin: 0 0px 0 5px;
    font-size: 12px;
    font-weight: 300;
}

.uaf_bp_card {
    border: none;
    /* background: #FFFFFF 0% 0% no-repeat padding-box; */
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 3px;
    opacity: 1;
    margin-bottom: 2rem;
    background: transparent;
    border: none!important;
}

.uaf_bp_card .ant-card-cover, .uaf_bp_card img {
    background: transparent;
    border-radius: 5px 5px 0px 0px;
    opacity: 1;
    width: auto;
    max-width: -webkit-fill-available;
}

.uaf_bp_card-desc-date {
    color: #474848;
}

.uaf_bp_card-desc {
    font-size: 13px;
    margin-bottom: 0.3rem;
}

.uaf_bp_card-desc-heading {
    text-align: left;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0.3rem;
    min-height: 60px;
    max-height: 60px;
    overflow: hidden;
}

.uaf_bp_card-desc-data {
    text-align: left;
    letter-spacing: 0px;
    color: #474848;
    opacity: 1;
    font-size: 13px;
    margin-bottom: 0rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.uaf_bp_rsbloglist-heading {
    text-align: left;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
}

.uaf_bp_card .ant-card-meta-description {
    display: block;
}

.uaf_bp_rsbloglist {
    margin: 0px 0px 5px 0px;
}

.uaf_bp_rsbloglist-ut {
    color: #474848;
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 6px;
    padding: 0 1rem;
    height: 40px;
    overflow-y: hidden;
}

.uaf_bp_rsbloglist-lt {
    color: #B3A7A7;
    font-size: 12px;
    line-height: 1.3;
    padding: 0 1rem;
}

.uaf_bp_rsbloglist .ant-row img {
    max-width: -webkit-fill-available;
}

.uaf_bp_card_gridCol {
    margin-bottom: 2rem;
}

@media screen and (max-width:1024px) {
    .uaf_bp_rsbloglist-ut {
        font-size: 12px;
    }
    .uaf_bp_rsbloglist-lt {
        font-size: 10px;
    }
}

@media screen and (max-width:768px) {
    .uaf_bp_rsbloglist-ut {
        font-size: 14px;
    }
    .uaf_bp_rsbloglist-lt {
        font-size: 11px;
    }
}

@media screen and (max-width:480px) {
    .uaf_bp_rsbloglist-ut {
        font-size: 18px;
    }
    .uaf_bp_rsbloglist-lt {
        font-size: 16px;
    }
}

@media screen and (max-width:380px) {
    .uaf_bp_rsbloglist-ut {
        font-size: 14px;
    }
    .uaf_bp_rsbloglist-lt {
        font-size: 13px;
    }
}