.honeycomb {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    transform: translateY(80px);
}

.honeycomb_flexrow {
    display: flex;
    width: 100%;
    justify-content: center;
}

.honeycomb-cell {
    -webkit-box-flex: 0;
    flex: 0 1 250px;
    max-width: 250px;
    height: 137.5px;
    margin: 65.4px 12.5px 25px;
    position: relative;
    padding: 0.5em;
    text-align: center;
    z-index: 1;
    box-shadow: 0px 0px 15px 0 rgba(0, 0, 0, 0.1);
}

.honeycomb-cell_img {
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-hyphens: auto;
    hyphens: auto;
    word-break: break-word;
    color: #474848;
    font-weight: 400;
    font-size: 12px;
    transition: opacity 350ms;
    padding-top: 22px;
}

.honeycomb-cell_title {
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-hyphens: auto;
    hyphens: auto;
    word-break: break-word;
    color: #474848;
    font-weight: 700;
    font-size: 20px;
    transition: opacity 350ms;
}

.honeycomb-cell::before, .honeycomb-cell::after {
    content: '';
}

.honeycomb-cell::before, .honeycomb-cell::after, .honeycomb-cell_img {
    top: -50%;
    left: 0;
    width: 100%;
    height: 200%;
    display: flex;
    position: absolute;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    z-index: -1;
}

.honeycomb-cell::before {
    background: #fff;
    transform: scale(1.055);
}

.honeycomb-cell::after {
    /* background: #111111; */
    background: #F0F0F0;
    opacity: 1;
    transition: opacity 350ms;
    -webkit-transition: opacity 350ms;
}

.honeycomb-cell:hover .honeycomb-cell_title {
    opacity: 0;
}

.honeycomb-cell:hover .honeycomb-cell_img {
    /* filter: grayscale(0%); */
    opacity: 1;
    background: #555758;
    color: #cccccc;
}

.honeycomb-cell:hover::before {
    background: #555758;
    transition: all 0.2s ease-in-out;
}

.honeycomb-cell:hover::after {
    opacity: 0;
}

/****** Responsive *******/

@media (min-width: 1100px) {
    .honeycomb-cell:nth-child(7n + 5) {
        margin-left: calc(50% - 400px);
    }
    .honeycomb-cell:nth-child(7n + 7), .honeycomb-cell:nth-child(7n + 5):nth-last-child(2) {
        margin-right: calc(50% - 400px);
    }
    .honeycomb_Hidden:nth-child(7n + 7), .honeycomb_Hidden:nth-child(7n + 9), .honeycomb_Hidden:nth-child(7n + 11) {
        display: block;
    }
}

@media (min-width: 825px) and (max-width: 1100px) {
    .honeycomb-cell:nth-child(5n + 4) {
        margin-left: calc(50% - 275px);
    }
    .honeycomb-cell:nth-child(5n + 5) {
        margin-right: calc(50% - 275px);
    }
    .honeycomb_Hidden:nth-child(5n), .honeycomb_Hidden:nth-child(5n + 3) {
        display: block;
    }
}

@media (min-width: 550px) and (max-width: 825px) {
    .honeycomb-cell:nth-child(3n) {
        margin-right: calc(50% - 125px);
        margin-left: calc(50% - 125px);
    }
    .honeycomb_Hidden:nth-child(3n + 5) {
        display: block;
    }
}

@media (max-width: 550px) {
    .honeycomb-cell {
        margin: 81.25px 25px;
    }
}

/* Tarun */

/* Stages */

.uaf_cp-stages {
    min-height: 35rem;
}

.uaf_cp-stagesmobile {
    display: none;
}

.uaf_cp-stagesmobile-bodymain {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #00000029;
    border-radius: 10px;
    opacity: 1;
}

.uaf_cp-stagesmobile-tabs {
    margin-bottom: 5px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 6px #00000029;
    opacity: 1;
    text-align: center;
}

.uaf_cp-stagesmobile .ant-collapse-header[aria-expanded="true"] {
    background-color: #00C2E1;
    color: #fff!important;
    transition: all 0.2s ease-in;
}

.site-collapse-custom-collapse {
    background: transparent;
    /* box-shadow: 0px 0px 6px #00000029; */
    /* border-radius: 10px; */
    opacity: 1;
    margin-bottom: 2rem;
}

.uaf_cp-stagesmobile-tabs .ant-collapse-content-box {
    text-align: center;
    padding: 1rem!important;
}

.uaf_cp-stagesmobile .uaf_cp_heading_l2 {
    text-align: center;
}

.uaf_cp-stagesmobile-tabs .ant-collapse-content-box p {
    margin: 0;
}

.uaf_cp-stagesmobile .ant-collapse-item:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.uaf_cp-stagesmobile .ant-collapse-item:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.uaf_cp-stagesmobile .ant-collapse-item:first-child .ant-collapse-header[aria-expanded="true"] {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.uaf_cp-stagesmobile{
    margin-top: 3rem;
}
@media screen and (max-width:1023px) {
    .honeycombdatapart .uaf_cp_content {
        padding: 0 15rem;
        padding-left: 0;
    }
    .honeycomb {
        display: none;
    }
    .uaf_cp-stagesmobile {
        display: block;
    }
    .uaf_cp-stages {
        min-height: auto;
    }
}

@media screen and (max-width:500px) {
    .honeycombdatapart .uaf_cp_content {
        padding: 0 2rem;
        padding-left: 0;
    }
}

@media screen and (max-width:462px) {
    .honeycomb {
        display: none;
    }
}