
.ourwork-cls { background: #58cdcd; padding: 38px 65px; color: #fff; text-align: center;}
.ourwork-cls h4 span { text-transform: uppercase; font-size: 28px; font-weight: 400;}
.ourwork-cls h4 { font-size: 28px; font-weight: 700; text-transform: uppercase; padding-bottom: 15px;}
.ourwork-cls .spn {font-weight: 600;width: 80%;display: block;margin: 0 auto;font-size: 16px;line-height: 1.5em;}
.ourwork-cls p::after {content: "";background: #fff;width: 136px;height: 2px;margin-top: 3px !important;display: block;margin: 0 auto;left: 0;right: 0;}
.potr-padd {padding-top: 15px;}
.padd-port {padding: 0;}
.port-bottom p {text-align: center;color: #fff;display: inline-block;font-size: 28px;padding: 0 30px;margin-bottom: 0;font-weight: 600;}
.port-bottom {background-color: #58cdcd;text-align: center;padding: 40px 45px;display: flex;justify-content: center;}
.port-bottom a {font-weight: 600;padding: 10px 20px 10px 20px;color: #333;border: 1px solid #fff;background-color: #fff;text-decoration: none;display: inline-table;text-transform: uppercase;margin-left: 23px;}

.port-section {position: relative;}
.port-section:hover .overlay {display: block;width: 100%;left: 0%;opacity: 0.9;background-color: #fff;height: 100%;}
.letter-over {display: none;z-index: 1;-moz-transition: opacity 4s;-webkit-transition: opacity 4s;-o-transition: opacity 4s;transition: opacity 4s;opacity: 0.1;-webkit-transition: opacity 3s;}
.port-section:hover .letter-over {display: block;position: absolute;top: 8%;text-align: center;width: 100%;}
.port-section:hover .letter-over {display: block;position: absolute;top: 23%;text-align: center;width: 100%;opacity: 1.1;}
.letter-over p {color: #333;text-transform: uppercase;font-weight: 700;font-size: 24px;margin-bottom: 0;}
.letter-over p a {border: 1px solid #fff;color: #333;padding: 5px 10px 5px 10px;font-size: 15px;text-decoration: none;}
.letter-over span {display: block;color: #fff;font-size: 17px;width: 80%;padding-top: 8px;padding-bottom: 10px;margin: 0 auto;font-weight: 600;}
.port-section:hover .letter-over {display: block;width: 100%;left: 0%;opacity: 0.8;margin-top: 13%;}
.port-section:hover .letter-over {animation: cssAnimations 1s 0.2s forwards;opacity: 0;}
@keyframes cssAnimations {to {opacity: 1;}}
.overlay1 {position: absolute;top: 0;left: 50%;width: 10%;background: rgba(0, 0, 0, 0);-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;-ms-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;margin: 0 auto;opacity: 38.7;}
.letter-over1 {display: none;opacity: 0.5;}
.port-section:hover .letter-over1 {display: block;position: absolute;top: 0;text-align: center;width: 100%;padding-top: 18px;height: -webkit-fill-available;padding: 10% 0px;}
.letter-over1 p {color: #333;text-transform: none;font-weight: 700;font-size: 28px;padding-top: 6px;margin-bottom: 2px;}
.letter-over1 .ptzero {padding-top: 0;margin-bottom: 10px;}
.letter-over1 p a {border: 1px solid #fff;color: #333;padding: 5px 10px 5px 10px;font-size: 15px;text-decoration: none;}
.letter-over1 span {margin: 0 auto;display: block;color: #fff;font-size: 14px;width: 80%;margin-bottom: 2px;}
.hover-port:hover .overlay1 {display: block;width: 100%;left: 0%;opacity: 0.8;background-color: #000;height: 100%;}
.hover-port:hover .letter-over1 {animation: cssAnimation 1s 0.2s forwards;opacity: 0;}
@keyframes cssAnimation {to{opacity: 1;}}
.letter-over p a:hover {background-color: #fff;color: #333;}
.letter-over1 p a:hover {background-color: #fff;color: #333;}
.port-bottom a:hover {background-color: #333;color: #fff;}
.padd-port {padding: 0;}
.potr-padd {padding: 15px 8px 0 8px;}
.port-imgsec {margin-right: -8px;margin-left: -8px;}
.port-section {margin-bottom: 15px;box-shadow: 3px 5px 13px -12px rgba(0, 0, 0, 0.75);}
.clearfix {content: "";clear: both;}
@media (min-width: 320px) and (max-width: 480px) {
    .padd-dell {padding: 13px;}
    .para-left {padding-left: 14px;}
    .port-p {padding: 5px;text-align: justify;}
    .port-logo {top: 20%;width: 32%;}
    .padd-del p {padding: 30px 8px 30px 6px;}
    .padd-fea {padding-top: 0 !important;}
    .port-logo {top: 20%;width: 32%;}
    .author {padding: 4px;}
    .ecm-img {width: 130px !important;}
    .navbar .container .navbar-collapse .nav li .links {padding: 10px 19px 10px 18px;}
    .nav>li {position: static;}
    .nav>li>a {position: relative;display: block;padding: 10px 34px;}
    .p-0 {padding-right: 15px;}
    .pl-0 {padding-left: 15px;padding-right: 15px;}
    .ourwork-cls {padding: 0 35px;}
    .ourwork-cls span {width: 100%;padding: 0 5px 20px;}
    .port-bottom {padding: 25px 0;}
    .port-bottom a {margin-top: 16px;content: "";clear: both;display: inline-block;}
    .padd-top {padding-top: 0;}
    .port-bottom {display: block !important;}
    .ourwork-cls h4 {padding-top: 12px;font-size: 28px;font-weight: 700;}
    .ourwork-cls .spn {width: 100%;text-align: justify;padding-bottom: 29px;}
    .mob-port {padding-bottom: 0;}
    .padd-port-top {padding-top: 0;}
    .f-bdr-nxt {margin-top: 0;}
}
@media (min-width: 360px) and (max-width: 640px) {
    .nav>li>a {position: relative;display: block;padding: 10px 34px;}
    .ourwork-cls h4 {padding-bottom: 6px;}
    .port-bottom p {padding: 0;line-height: 33px;}
    .port-bottom a {margin-left: 0;}
}
@media (min-width: 360px) and (max-width: 768px) {
    .padd-dell {padding: 4px !important;}
    .para-left {padding-left: 15px !important;padding-right: 20px !important;}
    .padd-dell {padding: 9px !important;}
}
@media (min-width: 768px) and (max-width: 1024px) {
    .port-logo {top: 41%;width: 26%;}
    .port-logo {top: 41%;width: 26%;}
    .letter-over1 p {font-size: 15px !important;}
    .letter-over1 span {font-size: 12px !important;}
    .letter-over1 p a {padding: 8px !important;font-size: 12px !important;}
    .overlay1 {height: 90% !important;}
}
@media (min-width: 600px) and (max-width: 960px) {
    .overlay1 {height: 95% !important;}
    .overlay {height: 100% !important;}
    .port-section:hover .letter-over {top: 33% !important;}
    .port-section:hover .letter-over1 {top: 24% !important;}
    .letter-over1 p {font-size: 25px !important;}
}
.potr-padd .port-section img {width: 100%;}



.cs_img_container{
    padding: 8px;
}
.cs_img_main{
    height: 210px;
    overflow:hidden;
    box-shadow: 3px 5px 13px -12px rgba(0, 0, 0, 0.75);
    position: relative;
}
.cs_img_main img{
    width: 100%;
}
.overlay {position: absolute;top: 0;left: 50%;width: 10%;height: 96%;background: rgba(0, 0, 0, 0);-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;-ms-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;margin: 0 auto;opacity: 38.7;}
.cs_img_main:hover .overlay {display: block;width: 100%;left: 0%;opacity: 0.9;background-color: #fff;height: 100%;}
.cs_img_main .logo1{width: 100px;}
.cs_img_main .logo2{width: 150px;}
.cs_img_main .logo3{width: 100px;}
.cs_img_main .logo4{width: 100px;}
.cs_img_main .logo5{width: 180px;}
.cs_img_main .logo6{width: 180px;}
.cs_img_main .logo7{width: 100px;}
.cs_img_main .logo8{width: 180px;}
.cs_img_main .logo9{width: 180px;}
.cs_img_container_size1:hover .letter-over,.cs_img_container_size2:hover .letter-over,.cs_img_container_size3:hover .letter-over{display: block;position: absolute;top: 8%;text-align: center;width: 100%;}
.cs_img_container_size1:hover .letter-over,.cs_img_container_size2:hover .letter-over,.cs_img_container_size3:hover .letter-over{display: block;position: absolute;top: 23%;text-align: center;width: 100%;opacity: 1.1;}
.cs_img_container_size1:hover .letter-over,.cs_img_container_size2:hover .letter-over,.cs_img_container_size3:hover .letter-over{display: block;width: 100%;left: 0%;opacity: 0.8;margin-top: 3%;}
.cs_img_container_size1:hover .letter-over,.cs_img_container_size2:hover .letter-over,.cs_img_container_size3:hover .letter-over{animation: cssAnimations 1s 0.2s forwards;opacity: 0;}

@media (max-width:1600px){
    .cs_img_main{
        height: 200px;
    }
}
@media (max-width:1300px){
    .cs_img_main{
        height: 176px;
    }
}
@media (max-width:1100px){
    .cs_img_main{
        height: 168px;
    }
    .cs_img_main .logo1{width: 70px;}
    .cs_img_main .logo2{width: 110px;}
    .cs_img_main .logo3{width: 70px;}
    .cs_img_main .logo4{width: 70px;}
    .cs_img_main .logo5{width: 140px;}
    .cs_img_main .logo6{width: 140px;}
    .cs_img_main .logo7{width: 70px;}
    .cs_img_main .logo8{width: 140px;}
    .cs_img_main .logo9{width: 140px;}

}
@media (max-width:800px){
    .cs_img_main{
        height: 124px;
    }
    .cs_img_main .logo1{width: 50px;}
    .cs_img_main .logo2{width: 98px;}
    .cs_img_main .logo3{width: 50px;}
    .cs_img_main .logo4{width: 50px;}
    .cs_img_main .logo5{width: 100px;}
    .cs_img_main .logo6{width: 100px;}
    .cs_img_main .logo7{width: 50px;}
    .cs_img_main .logo8{width: 100px;}
    .cs_img_main .logo9{width: 100px;}
}
@media (max-width:600px){
    .cs_img_main{
        height: 210px;
    }
}
@media (max-width:480px){
    .cs_img_main{
        height: 175px;
    }
    .cs_img_main .logo1{width: 70px;}
    .cs_img_main .logo2{width: 110px;}
    .cs_img_main .logo3{width: 70px;}
    .cs_img_main .logo4{width: 70px;}
    .cs_img_main .logo5{width: 140px;}
    .cs_img_main .logo6{width: 140px;}
    .cs_img_main .logo7{width: 70px;}
    .cs_img_main .logo8{width: 140px;}
    .cs_img_main .logo9{width: 140px;}
}
@media (max-width:380px){
    .cs_img_main{
        height: 150px;
    }
}
@media (max-width:325px){
    .cs_img_main{
        height: 135px;
    }
    .cs_img_main .logo1{width: 50px;}
    .cs_img_main .logo2{width: 98px;}
    .cs_img_main .logo3{width: 50px;}
    .cs_img_main .logo4{width: 50px;}
    .cs_img_main .logo5{width: 100px;}
    .cs_img_main .logo6{width: 100px;}
    .cs_img_main .logo7{width: 50px;}
    .cs_img_main .logo8{width: 100px;}
    .cs_img_main .logo9{width: 100px;}
}