.servicesCard:hover {
    box-shadow: -62px 22px 90px -90px #666, 62px 22px 90px -90px #666;
}

.servicesCard>div {
    min-height: min-content;
    /* box-shadow: 1px 1px 1px rgba(0,0,0,0.3); */
    margin: 0px;
    padding: 1rem;
}

.servicesCard h4 {
    font-size: 1rem;
    margin: 10px auto;
    text-align: left;
}

.marketPlace-page-images {
    width: auto!important;
    height: 400px!important;
}

.marketPlace-page-images-right {
    text-align: right;
}

.marketPlace-page-images-left {
    text-align: left;
}

@media only screen and (max-width: 1280px) {
    .landingheroarea {
        padding-top: 10%;
        text-align: left;
        padding-left: 0;
    }
}
@media only screen and (max-width: 1023px) {
    .landingheroarea {
        padding-top: 10%;
        text-align: left;
        padding-left: 0;
    }
}
@media only screen and (max-device-width: 991px){
    .marketPlace-page-images-right, .marketPlace-page-images-left {
        text-align: center;
    }
}
@media only screen and (max-device-width: 768px) {
    .marketPlace-page-images-right, .marketPlace-page-images-left {
        text-align: center;
    }
}

@media screen and (max-width:480px) {
    .marketPlace-page-images-right, .marketPlace-page-images-left {
        text-align: center;
    }
    .marketPlace-page-images {
        width: 100%!important;
        height: auto!important;
        max-width: 200px!important;
    }
    .marketplace-page-content-data {
        text-align: center!important;
    }
    .marketplace-page-title-adjust1 {
        margin-top: 80px;
    }
    .marketplace-page-space-adjust1 {
        margin-bottom: 0!important;
    }
    .marketplace-page-space-adjust2 {
        padding-top: 0!important;
        margin-bottom: 0!important;
    }
    .marketplace-page-space-adjust2>p, .marketplace-page-space-adjust4>p, .marketplace-page-text-adjust1 {
        font-size: 30px!important;
        margin: 0!important;
        margin-bottom: 30px!important;
    }
    .marketplace-page-space-adjust3 {
        margin-bottom: 20px!important;
    }
    body {
        overflow-x: hidden;
    }
    .landingheroarea{
        padding-top: 25%;
    }
}