/*
 * Copyright (c) 2012-2013 Thibaut Courouble
 * http://www.cssflow.com
 * Licensed under the MIT License
 *
 * Sass/SCSS source: https://goo.gl/vVfMr
 * PSD by Orman Clark: https://goo.gl/MNFHK
 */

.Pack-identifier {
  text-align: center;
  border-radius: 45px;
  position: relative;
  top: -50px;
  color: #fff;
}

.Pack-identifier>p>span {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.Pack-identifier>p>p{
  font-size: 12px;
  margin: 0;
}
.Pack-identifier.Premium {
  color: #525252;
  background: linear-gradient(315deg, #bbf0f3, #bbf0f3 74%);
}

.Pack-identifier.Basic {
  color: #525252;
  background-image: linear-gradient(315deg, #f5f5f5 0%, #f5f5f5 74%);
}

.Pack-identifier.ultra {
  color: #525252;
  background-image: linear-gradient(316deg, #ffe5b2 0%, #ffe5b2 74%);
}

.Pack-identifier>p {
  padding: 10px;
  font-size: 12px;
}

.pack-card.Premium {
  background-color: #525252;
  color: #fff;
  /* background: linear-gradient(315deg, #bbf0f3, #bbf0f3 74%); */
}

.pack-card.Basic {
  background-color: #525252;
  color: #fff;
  /* background-image: linear-gradient(315deg, #f5f5f5 0%, #f5f5f5 74%); */
}

.pack-card.ultra {
  background-color: #525252;
  color: #fff;
  /* background-image: linear-gradient(316deg, #ffe5b2 0%, #ffe5b2 74%); */

}

.pack-card {
  margin: 0 auto;
  max-width: 320px;
  border-radius: 5px;
  /* background: #fbfbfb; */
  padding: 30px 20px 30px 20px;
  /* box-shadow: 0px 0px 3px #ccc; */
}

.package-img-cont {
  text-align: center;
  margin-bottom: 20px;
  margin-top: -30px;
}

img.package-img {
  width: 150px;
  height: 150px;
}

.package-title {
  font-weight: 600 !important;
  font-size: 24px !important;
  line-height: 1.35 !important;
  letter-spacing: 0px !important;
  margin-bottom: 15px !important;
  margin-top: 0px;
  color: #ffffff !important;
  text-transform: uppercase;
}

.before-discount-price {
  opacity: 0.4;
  text-decoration: line-through;
  font-size: 14px;
  line-height: 2;
  color: #fff;
}

.PriceNum {
  font-size: 35px;
  font-weight: 600;
  /* color: #607D8B; */
  color: #fff;
  line-height: 1;
}
.PriceNum2 {
  font-size: 35px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.65);
  /* color: #fff; */
  line-height: 1;
}

.pack-card:hover {
  transform: scale(1.05);
  /* box-shadow: 0px 0px 60px 30px #f8fdff; */
}

span.currency {
  font-size: 14px !important;
  position: relative;
  bottom: 7px !important;
  left: -2px !important;
  font-weight: 400;
}

.sup-star {
  font-size: 20px;
}

.per-month-tag {
  font-size: 14px;
  font-weight: 300;
  position: relative;
  bottom: 5px;
}

.one-time-setup-tag {
  font-size: 12px;
  opacity: 1;
  line-height: 1;
  margin: 20px 20px 0px 20px;
  color: #fff;
}

.package-bg {
  background: url(../img/PackIcon/PackBG.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px 0px;
}



.V-Price-Switcher {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.V-BDSP {
  opacity: 0.3 !important;
  text-decoration: line-through !important;
  font-size: 20px !important;
  line-height: 1 !important;
}

.V-ADSP {
  font-size: 45px !important;
  font-weight: 600 !important;
  color: #607D8B !important;
  line-height: 1 !important;
}

.discounts {
  font-size: 35px;
  font-weight: 600;
  color: #4CAF50;
}

.switch {
  position: relative;
  margin: 20px auto;
  height: 50px;
  width: 250px;
  background: rgb(247, 247, 247);
  border-radius: 50px;
  /* -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1); */
}

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 50%;
  line-height: 2.5;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.29);
  text-align: center;
  text-shadow: none;
  cursor: pointer;
}

.switch-label:active {
  font-weight: bold;
}

.switch-label-off {
  padding-left: 2px;
}

.switch-label-on {
  padding-right: 2px;
}

/*
    Note: using adjacent or general sibling selectors 
    combined with pseudo classes doesn't work in Safari 
    5.0 and Chrome 12.
    See this article for more info and a potential fix: 
    https://css-tricks.com/webkit-sibling-bug/
  */

.switch-input {
  display: none;
}

.switch-input:checked+.switch-label {

  color: rgb(255, 255, 255);
  text-shadow: none;
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}

.switch-input:checked+.switch-label-on~.switch-selection {
  /* Note: left: 50% doesn't transition in WebKit */
  left: 123px;
}

.switch-selection {
  display: block;
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  top: 1px;
  left: 2px;
  width: 50%;
  height: 48px;
  background: #03A9F4;
  border-radius: 50px;
  /* background-image: -webkit-linear-gradient(top, #9dd993, #65bd63);
    background-image: -moz-linear-gradient(top, #9dd993, #65bd63);
    background-image: -o-linear-gradient(top, #9dd993, #65bd63);
    background-image: linear-gradient(to bottom, #9dd993, #65bd63); */
  /* -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2); */
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}

.switch-blue .switch-selection {
  background: #3aa2d0;
  background-image: -webkit-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: -moz-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: -o-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: linear-gradient(to bottom, #4fc9ee, #3aa2d0);
}

.switch-yellow .switch-selection {
  background: #c4bb61;
  background-image: -webkit-linear-gradient(top, #e0dd94, #c4bb61);
  background-image: -moz-linear-gradient(top, #e0dd94, #c4bb61);
  background-image: -o-linear-gradient(top, #e0dd94, #c4bb61);
  background-image: linear-gradient(to bottom, #e0dd94, #c4bb61);
}


/* span.Discount-V {
    position: absolute;
    color: rgba(255, 255, 255, 0.98);
    background-image: url('../img/brand/discount-bg.png');
    border-radius: 23px;
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    line-height: 1;
    height: 50px;
    font-size: 12px;
    padding: 10px 0px 45px 0px;
    font-weight: 800;
    top: -15px;
} */

span.Discount-V {
  position: absolute;
  color: rgba(255, 255, 255, 0.98);
  /*  background-image: url('https://png2.cleanpng.com/sh/1a3ebeedb8325a5bd65a63f056ae34b5/L0KzQYm3U8A3N6hsiZH0aYP2gLBuTgR2eqJ6h9t8ZT3mecPqjPUueJJ5jNd7bj3mgrbolPl3bV5nh9H0bXH1e371jCRme153gdDwLXB1ebjojfkufJJsRadqOXazSISCVPQ2bJM8RqY8NEK5QIKAUcUzOGQ8SakBOUO0Roq1kP5o/kisspng-turquoise-circle-pattern-creative-bookmark-notes-ring-origami-tag-5a9f08394d5db7.4342601715203717693169.png');
  border-radius: 23px;
  background-size: contain;
  background-repeat: no-repeat;
  width: 97px;
  line-height: 1;
  height: 107px;
  font-size: 15px;
  padding: 35px 30px 35px 28px;
  font-weight: 800;
  top: -40px; */

  background: #252524;
  border-radius: 4px;
  background-size: contain;
  background-repeat: no-repeat;
  width: 75px;
  line-height: 1;
  height: 27px;
  font-size: 14px;
  padding: 7px 4px 0px 2px;
  font-weight: 800;
  top: 10px;
  margin-left: 15px;


}



@media only screen and (max-device-width: 768px) and (min-device-width: 320px) {

  .pack-card {
    margin: 0px auto 60px auto !important;
  }

}