
.page-wrapper {position: relative;margin: 0 auto;width: 100%;min-width: 300px;background: #fff;overflow: hidden;z-index: 9}
.tran-4 {transition: 4s ease}
.main-demo {position: relative;padding: 100px 0 20px}
.main-demo .image {position: relative;box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);margin: 0 5px;background-repeat: no-repeat;background-size: cover;background-position: top center}
.main-demo .image:hover {background-position: bottom center}
.main-demo .image a {position: relative;height: 440px;display: block;top: -36px}
.main-demo h3 {position: relative;font-size: 16px;font-weight: 700;text-transform: uppercase;text-align: center;margin-top: 40px;margin-bottom: 100px;transition: .5s ease}
.main-demo h3:hover {color: var(--theme-color)}
/* .main-demo h3 a {color: inherit} */
.layoutName{text-align: center;font-size: 20px;padding: 20px 0px;background-color: #fff;}
.layout1{background-image: url("https://upappfactory-static-images.s3.us-east-2.amazonaws.com/RestaurentApp/WebsiteImages/Layout1.png");}
.layout2{background-image: url("https://upappfactory-static-images.s3.us-east-2.amazonaws.com/RestaurentApp/WebsiteImages/Layout2.png");}
.layout3{background-image: url("https://upappfactory-static-images.s3.us-east-2.amazonaws.com/RestaurentApp/WebsiteImages/Layout3.png");}
