/* Banner Start */

.uaf_wp_bannersection {
    background-image: url("https://upappfactory-static-images.s3.us-east-2.amazonaws.com/Products/website/banner.svg");
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: left;
    height: 90vh;
    background-color: #ffffff;
    position: relative;
}

.uaf_wp_slider_content {
    margin: 180px auto 80px auto;
}

.uaf_wp_slider_content_title {
    text-align: right;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    font-size: 38px;
    line-height: 1.23;
}

.uaf_wp_slider_content_text {
    text-align: right;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.23;
    max-width: 426px;
    margin-bottom: 30px;
    float: right;
}

.uaf_wp_slider_content_btn, .uaf_wp_slider_content_btn:hover, .uaf_wp_slider_content_btn:focus, .uaf_wp_slider_content_btn:active, .uaf_wp_slider_content_btn.active {
    background: #4FBFDD 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
    color: #fff;
    letter-spacing: 0px;
    padding: 0 20px;
}

@media only screen and (min-device-width:1540px) {
    .uaf_wp_bannersection {
        height: 70vh;
        background-position: 60%;
    }
    .uaf_wp_slider_content {
        margin: 15rem auto 80px auto;
    }
}

@media only screen and (max-device-width:1024px) {
    .uaf_wp_slider_content {
        margin: 140px auto 80px auto;
    }
    .uaf_wp_slider_content_title {
        font-size: 30px;
        max-width: 500px;
        float: right;
    }
}

@media only screen and (max-device-width:768px) {
    .uaf_wp_slider_content {
        margin: 120px auto 80px auto;
    }
    .uaf_wp_slider_content_title {
        font-size: 25px;
        max-width: 500px;
    }
    .uaf_wp_slider_content_text {
        font-size: 13px;
        max-width: 420px;
    }
}

@media only screen and (max-device-width:500px) {
    .uaf_wp_slider_content {
        margin: 170px auto 80px auto;
    }
    .uaf_wp_slider_content_title {
        font-size: 25px;
        max-width: 500px;
        text-align: center;
    }
    .uaf_wp_slider_content_text {
        font-size: 14px;
        max-width: 420px;
        text-align: center;
    }
    .uaf_wp_bannersection {
        background-position-x: 10%;
        background-position-y: 100%;
        background-size: 105%;
        max-height: 72vh;
    }
}

@media only screen and (device-width:425px) {
    .uaf_wp_bannersection {
        max-height: 85vh;
    }
    .uaf_wp_slider_content {
        margin: 110px auto 80px auto;
    }
}

/* Banner End */

/* ==========================
    Content section
========================== */

.uaweb_contentsection_title {
    color: #474848;
    font-weight: 700;
    font-size: 28px;
    /* max-width: 340px; */
    line-height: 1.23;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 5rem;
}

.uaweb_contentsection_titleleft {
    color: #474848;
    font-weight: 700;
    font-size: 28px;
    max-width: 360px;
    line-height: 1.23;
}

.uaweb_contentsection_titleright {
    color: #474848;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.23;
    padding-left: 150px;
}

.uaweb_contentsection_textleft {
    color: #474848;
    max-width: 460px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
}

.uaweb_contentsection_textright {
    text-align: right;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.23;
    max-width: 426px;
    margin-bottom: 30px;
    float: right;
}

.uaweb_contentsection_getitnowbtnleft {
    margin-top: 0.6rem;
    color: #fff;
    background: #4FBFDD;
    text-align: center;
    transition: all 0.3s;
    border-radius: 2px;
}

.uaweb_contentsection_getitnowbtnleft:hover, .uaweb_contentsection_getitnowbtnleft:focus {
    margin-top: 0.6rem;
    color: #fff;
    background: #4FBFDD;
    opacity: 0.8;
}

.uaweb_contentsection_imgbody {
    max-height: 500px;
}

.uaweb_contentsection_imgbody img {
    max-height: inherit;
    width: auto;
}

/* Section1 Start */

.uaweb_section1 {
    height: auto;
}

.uaweb_contentsection_row1 {
    padding: 8rem 0;
}

.uaweb_contentsection_contentCol1 {
    padding: 8rem 0;
}

@media only screen and (device-width:1440px) {
    .uaweb_contentsection_row1 {
        padding: 7rem 0;
    }
}

@media only screen and (max-device-width:1024px) and (min-device-width: 769px) {
    .uaweb_contentsection_row1 {
        padding: 5rem 0;
    }
    .uaweb_contentsection_contentCol1 {
        padding: 5rem 0;
    }
}

@media only screen and (max-device-width: 768px) and (min-device-width: 481px) {
    .uaweb_contentsection_titleleft {
        font-size: 22px;
    }
    .uaweb_contentsection_textleft {
        font-size: 13px;
        line-height: 1.23;
    }
    .uaweb_contentsection_contentCol1 {
        padding: 3rem 0px;
    }
    .uaweb_contentsection_imgbody {
        margin-top: 0;
    }
    .uaweb_contentsection_row1 {
        padding: 5rem 0;
    }
}

@media only screen and (max-device-width: 480px) and (min-device-width: 320px) {
    .uaweb_section1 {
        display: inline-block;
    }
    .uaweb_contentsection_row1 {
        padding: 5rem 0;
    }
    .uaweb_contentsection_titleleft {
        margin: 1rem auto;
        font-size: 22px;
    }
    .uaweb_contentsection_textleft {
        font-size: 15px;
    }
    .uaweb_contentsection_contentCol1 {
        padding: 0.5rem 0;
    }
    .uaweb_contentsection_getitnowbtnleft {
        margin: 1rem auto;
    }
}

/* Section1 End */

/* Section2 Start */

.uaweb_section2 {
    height: auto;
}

.uaweb_contentsection_row2 {
    padding: 6rem 0;
}

.uaweb_contentsection_contentCol2 {
    padding: 8rem 0;
}

@media only screen and (min-device-width:1441px) {
    .uaweb_contentsection_contentCol2 {
        padding: 6rem 0;
    }
}

@media only screen and (device-width:1440px) {
    .uaweb_contentsection_row2 {
        padding: 7rem 0;
    }
}

@media only screen and (max-device-width:1024px) and (min-device-width: 769px) {
    .uaweb_contentsection_row2 {
        padding: 5rem 0;
    }
    .uaweb_contentsection_contentCol2 {
        padding: 6rem 0;
    }
}

@media only screen and (max-device-width: 768px) and (min-device-width: 481px) {
    .uaweb_contentsection_contentCol2 {
        padding: 3.3rem 0;
    }
    .uaweb_contentsection_titleright {
        padding-left: 50px;
    }
    .uaweb_contentsection_row2 {
        padding: 5rem 0;
    }
    .uaweb_contentsection_textright {
        font-size: 13px;
    }
}

@media only screen and (max-device-width: 480px) and (min-device-width: 320px) {
    .uaweb_contentsection_row2 {
        padding: 5rem 0;
    }
    .uaweb_contentsection_titleright {
        font-size: 22px;
        margin: 1rem auto
    }
    .uaweb_contentsection_textright {
        font-size: 15px;
        text-align: center;
    }
    .uaweb_contentsection_contentCol2 {
        padding: 0.5rem 0;
    }
    .uaweb_contentsection_getitnowbtnleft {
        margin: 1rem auto;
    }
    .uaweb_contentsection_titleright {
        padding: 0;
        max-width: 80%;
        margin: 1rem auto;
    }
}

/* Section2 End */

/* Section3 Start */

.uaweb_section3 {
    height: auto;
}

.uaweb_contentsection_row3 {
    padding: 6rem 0;
}

.uaweb_contentsection_contentCol3 {
    padding: 9rem 0;
}

@media only screen and (device-width:1440px) {
    .uaweb_contentsection_row3 {
        padding: 7rem 0;
    }
}

@media only screen and (max-device-width:1024px) and (min-device-width: 769px) {
    .uaweb_contentsection_row3 {
        padding: 5rem 0;
    }
    .uaweb_contentsection_contentCol3 {
        padding: 7rem 0;
    }
}

@media only screen and (max-device-width: 768px) and (min-device-width: 481px) {
    .uaweb_contentsection_contentCol3 {
        padding: 4rem 0;
    }
    .uaweb_contentsection_row3 {
        padding: 5rem 0;
    }
}

@media only screen and (max-device-width: 480px) and (min-device-width: 320px) {
    .uaweb_contentsection_row3 {
        padding: 5rem 0;
    }
    .uaweb_contentsection_contentCol3 {
        padding: 0.5rem 0;
    }
    .uaweb_contentsection_getitnowbtnleft {
        margin: 1rem auto;
    }
}

/* Section3 End */

/* Section4 Start */

.uaweb_section4 {
    height: auto;
}

.uaweb_contentsection_row4 {
    padding: 6rem 0;
}

.uaweb_contentsection_contentCol4 {
    padding: 7rem 0;
}

@media only screen and (min-device-width:1441px) {
    .uaweb_contentsection_contentCol4 {
        padding: 6rem 0;
    }
}

@media only screen and (device-width:1440px) {
    .uaweb_contentsection_row4 {
        padding: 7rem 0;
    }
}

@media only screen and (device-width:1366px) {
    .uaweb_contentsection_row4 {
        padding: 7rem 0;
    }
    .uaweb_contentsection_contentCol4 {
        padding: 4.5rem 0;
    }
}

@media only screen and (max-device-width:1024px) and (min-device-width: 769px) {
    .uaweb_contentsection_row4 {
        padding: 5rem 0;
    }
    .uaweb_contentsection_contentCol4 {
        padding: 3rem 0;
    }
}

@media only screen and (max-device-width: 768px) and (min-device-width: 481px) {
    .uaweb_contentsection_contentCol4 {
        padding: 0;
    }
    .uaweb_contentsection_titleright {
        padding-left: 50px;
    }
    .uaweb_contentsection_row4 {
        padding: 5rem 0;
    }
}

@media only screen and (max-device-width: 480px) and (min-device-width: 320px) {
    .uaweb_contentsection_row4 {
        padding: 5rem 0;
    }
    .uaweb_contentsection_titleright {
        font-size: 22px;
        margin: 1rem auto
    }
    .uaweb_contentsection_contentCol4 {
        padding: 0.5rem 0;
    }
    .uaweb_contentsection_getitnowbtnleft {
        margin: 1rem auto;
    }
    .uaweb_contentsection_titleright {
        padding: 0;
        max-width: 80%;
        margin: 1rem auto;
    }
}

/* Section4 End */

/* Section5 Start */

.uaweb_section5 {
    height: auto;
}

.uaweb_contentsection_row5 {
    padding: 6rem 0;
}

.uaweb_contentsection_contentCol5 {
    padding: 3rem 0;
}

@media only screen and (device-width:1440px) {
    .uaweb_contentsection_row5 {
        padding: 7rem 0;
    }
}

@media only screen and (max-device-width:1024px) and (min-device-width: 769px) {
    .uaweb_contentsection_row5 {
        padding: 5rem 0;
    }
    .uaweb_contentsection_contentCol5 {
        padding: 0;
    }
}

@media only screen and (max-device-width: 768px) and (min-device-width: 481px) {
    .uaweb_contentsection_contentCol5 {
        padding: 0;
    }
    .uaweb_contentsection_row5 {
        padding: 5rem 0;
    }
}

@media only screen and (max-device-width: 480px) and (min-device-width: 320px) {
    .uaweb_contentsection_row5 {
        padding: 5rem 0;
    }
    .uaweb_contentsection_contentCol5 {
        padding: 0.5rem 0;
    }
    .uaweb_contentsection_getitnowbtnleft {
        margin: 1rem auto;
    }
}

/* Section5 End */

/* Section6 Start */

.uaweb_section6 {
    height: auto;
}

.uaweb_contentsection_row6 {
    padding: 6rem 0;
}

.uaweb_contentsection_contentCol6 {
    padding: 7rem 0;
}

@media only screen and (device-width:1440px) {
    .uaweb_contentsection_row6 {
        padding: 7rem 0;
    }
}

@media only screen and (max-device-width:1024px) and (min-device-width: 769px) {
    .uaweb_contentsection_row6 {
        padding: 5rem 0;
    }
    .uaweb_contentsection_contentCol6 {
        padding: 4rem 0;
    }
}

@media only screen and (max-device-width: 768px) and (min-device-width: 481px) {
    .uaweb_contentsection_contentCol6 {
        padding: 1rem 0;
    }
    .uaweb_contentsection_titleright {
        padding-left: 50px;
    }
    .uaweb_contentsection_row4 {
        padding: 5rem 0;
    }
}

@media only screen and (max-device-width: 480px) and (min-device-width: 320px) {
    .uaweb_contentsection_row6 {
        padding: 5rem 0;
    }
    .uaweb_contentsection_titleright {
        font-size: 22px;
        margin: 1rem auto
    }
    .uaweb_contentsection_contentCol6 {
        padding: 0.5rem 0;
    }
    .uaweb_contentsection_getitnowbtnleft {
        margin: 1rem auto;
    }
    .uaweb_contentsection_titleright {
        padding: 0;
        max-width: 80%;
        margin: 1rem auto;
    }
}

/* Section6 End */

/* Section7 Start */

.uaweb_section7 {
    height: auto;
}

.uaweb_contentsection_row7 {
    padding: 6rem 0;
}

.uaweb_contentsection_contentCol7 {
    margin: 0 auto;
}

.uaweb_kf_tile {
    padding: 0.5rem;
    text-align: center;
    transition: all 0.3s;
    margin: 1rem;
}

.uaweb_kf_tile:hover {
    box-shadow: 1px 2px 7px #00000029;
    border-radius: 5px;
    cursor: pointer;
}

.uaweb_gradBg {
    background: linear-gradient(180deg, #FFFFFF 1%, rgba(225, 225, 225, 0.6) 64%, #FFFFFF 100%);
    box-shadow: 0px 18px 20px #00000019;
}

.uaweb_kf_tile_img {
    padding: 1rem;
}

.uaweb_kf_tile_img img {
    max-width: 100px;
}

.uaweb_kf_tile_name {
    text-align: center;
    font-weight: 500;
    max-width: 145px;
    margin: 0 auto;
}

@media only screen and (device-width:1440px) {
    .uaweb_contentsection_row7 {
        padding: 7rem 0;
    }
}

@media only screen and (max-device-width:1024px) and (min-device-width: 769px) {
    .uaweb_contentsection_row7 {
        padding: 5rem 0;
    }
    .uaweb_contentsection_contentCol7 {
        padding: 0;
    }
}

@media only screen and (max-device-width: 768px) and (min-device-width: 481px) {
    .uaweb_contentsection_contentCol7 {
        padding: 0;
    }
    .uaweb_contentsection_row7 {
        padding: 5rem 0;
    }
}

@media only screen and (max-device-width: 480px) and (min-device-width: 320px) {
    .uaweb_contentsection_row7 {
        padding: 5rem 0;
    }
    .uaweb_contentsection_contentCol7 {
        padding: 0.5rem 0;
    }
}

/* Section7 End */

/* Section8 Start */

.uaweb_section8 {
    height: auto;
}

.uaweb_contentsection_row8 {
    padding: 6rem 0;
}

.uaweb_contentsection_contentCol8 {
    margin: 0 auto;
}

.uaweb_ks_tile {
    padding: 0.5rem;
    text-align: center;
    transition: all 0.3s;
    margin: 1rem;
}

.uaweb_ks_tile_img {
    padding: 1rem;
    padding-bottom: 0;
}

.uaweb_ks_tile_img img {
    max-height: 100px;
}

.uaweb_ks_tile_name {
    text-align: center;
    font-size: 12px;
    padding: 1rem;
    height: 110px;
    vertical-align: middle;
    display: table-cell;
    padding-bottom: 0;
}

.uaweb_ks_tile_hidden {
    background: #4FBFDD 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 10px 10px;
    opacity: 1;
    height: 45px;
}

.uaweb_ks_tile_hidden:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 35px 20px 0 20px;
    border-color: #4FBFDD transparent transparent transparent;
    position: relative;
    top: 40px;
    left: 0;
    /* z-index: -1; */
}

.uaweb_ks_tile_inner {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: -5px -3px 10px #00000029;
    border-radius: 10px;
}

.uaweb_ks_tile_hidden p {
    visibility: hidden;
}

.uaweb_ks_tile_num {
    position: relative;
    top: 3rem;
}

@media only screen and (device-width:1440px) {
    .uaweb_contentsection_row8 {
        padding: 7rem 0;
    }
    .uaweb_ks_tile_name {
        padding: 0.5rem 1rem;
        height: 130px;
    }
}

@media only screen and (device-width:1366px) {
    .uaweb_ks_tile_name {
        padding: 0.5rem 1rem;
        height: 130px;
    }
}

@media only screen and (max-device-width:1024px) and (min-device-width: 769px) {
    .uaweb_contentsection_row8 {
        padding: 5rem 0;
    }
    .uaweb_contentsection_contentCol8 {
        padding: 0;
    }
    .uaweb_ks_tile_name {
        padding: 0.5rem 1rem;
        height: 140px;
    }
}

@media only screen and (max-device-width: 768px) and (min-device-width: 481px) {
    .uaweb_contentsection_contentCol8 {
        padding: 0;
    }
    .uaweb_contentsection_row8 {
        padding: 5rem 0;
    }
    .uaweb_ks_tile_name {
        padding: 0.5rem 1rem;
        height: 125px;
    }
}

@media only screen and (max-device-width: 480px) and (min-device-width: 320px) {
    .uaweb_contentsection_row8 {
        padding: 5rem 0;
    }
    .uaweb_contentsection_contentCol8 {
        padding: 0.5rem 0;
    }
}

/* Section8 End */

/* Section9 Start */

.uaweb_section9 {
    height: auto;
}

.uaweb_contentsection_row9 {
    padding: 6rem 0;
}

.uaweb_contentsection_contentCol9:nth-child(2)>.ant-row-flex:first-child {
    margin-bottom: 1rem;
}

.uaweb_contentsection_contentCol9 {
    margin: 0 auto;
}

.uaweb_contentsection_contentColInner9 {
    display: inline-flex;
}

.uaweb_contentsection_contentColInner9:first-child {
    padding-left: 4rem;
}

.uaweb_contentsection_contentColInner9 h1 {
    color: #474848;
    font-weight: 700;
    font-size: 25px;
    line-height: 1.23;
    text-align: left;
}

.uaweb_contentsection_contentColInner9 img {
    width: 55px;
    margin-right: 1rem;
}

.uaweb_contentsection_contentColInner9_tableData {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 15px;
    opacity: 1;
    padding: 1rem 0;
}

.uaweb_tableProperties {
    align-self: center;
}

.uaweb_tableProperties h1 {
    font-size: 18px;
}

.uaweb_table_Col2 {
    background: #F0F0F0 0% 0% no-repeat padding-box;
    border-radius: 15px;
    opacity: 1;
    padding: 0 1rem;
    margin-right: 1rem;
    border: 2.5px solid #F0F0F0;
}

.uaweb_table_Col3 {
    background: #C9F8FF 0% 0% no-repeat padding-box;
    border-radius: 15px;
    opacity: 1;
    padding: 0 1rem;
    margin-right: 1rem;
    border: 2.5px solid #4FBFDD;
}

.uaweb_table_Col2Inner {
    padding: 0;
}

.uaweb_table_Col2Inner p {
    padding: 1rem 0;
    border-bottom: 1px solid #F9F9F900;
    -webkit-box-shadow: 0 8px 6px -6px #00000015;
    -moz-box-shadow: 0 8px 6px -6px #00000015;
    box-shadow: 0 8px 6px -6px #00000015;
    margin: 0;
}

.uaweb_table_Col2Inner:last-child p {
    padding: 1rem 0;
    border-bottom: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin: 0;
}

.uaweb_table_Col3Inner {
    padding: 0;
}

.uaweb_table_Col3Inner p {
    padding: 1rem 0;
    border-bottom: 1px solid #F9F9F900;
    -webkit-box-shadow: 0 8px 6px -6px #00000015;
    -moz-box-shadow: 0 8px 6px -6px #00000015;
    box-shadow: 0 8px 6px -6px #00000015;
    margin: 0;
}

.uaweb_table_Col3Inner:last-child p {
    padding: 1rem 0;
    border-bottom: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin: 0;
}

.uaWeb_s9_mobile {
    display: none;
}

.uaWeb_s9_mobile_heading h1 {
    color: #474848;
    font-weight: 700;
    font-size: 25px;
    line-height: 1.23;
}

.uaweb_contentsection_contentColInner9 .ant-collapse {
    width: 100%;
}

.uaWeb_s9_mobile_heading {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.uaWeb_s9_mobile_heading img {
    width: 50px;
    margin-right: 1rem;
}

@media only screen and (max-device-width:768px) {
    .uaWeb_s9_mobile {
        display: block;
        width: 100%;
        margin: 0;
    }
    .uaWeb_s9_desktop {
        display: none;
    }
    .uaweb_contentsection_contentColInner9 {
        justify-content: center;
        margin: 0 auto;
        width: 100%;
    }
    .uaWeb_s9_mobile>.ant-row {
        text-align-last: center;
    }
}

/* Section9 End */

/* Section10 Start */

.uaweb_section10 {
    height: auto;
}

.uaweb_contentsection_row10 {
    padding: 6rem 0;
}

.uaweb_pricingText_Col {
    display: inline-flex;
}
.uaweb_pricingText_Col img{
    width: 18px;
}

.uaweb_pricing_icon {
    width: 15px;
}

.uaweb_pricingText_Col p {
    margin-left: 1rem;
    margin: 0.6rem 1rem;
    line-height: 1.1;
    color: #FFFFFFbb;
}

.uaweb_pricingText_Col p b {
    color: #FFFFFFff;
}

.uaweb_green {
    color: #00B38E;
}

.uaweb_red {
    color: #D7373F;
}

.uawIcon {
    font-size: 25px;
    font-weight: 800;
}

.uaweb_pricingText_ColLine {
    width: 100px;
    height: 0px;
    border: 1.2px solid #FFFFFF;
    opacity: 1;
}

.uaweb_pricing_bottomline {
    text-align: center;
}

.uaweb_pricing_bottomline p {
    margin: 0 auto;
    text-align: center;
    margin-top: 2rem;
    opacity: 0.8;
}

.uaweb_pricing_bottomline b {
    margin: 0 auto;
    text-align: center;
    opacity: 1;
}

.uaweb_pricing_verical_col {
    margin-bottom: 2rem;
}

/* Section10 End */