.Invoice-Container{
    max-width: 600px;
    padding: 15px;
    background: #faffff;
    box-shadow: 0px 0px 2px #ccc;
    margin: 100px auto 50px auto ;
}
.app-logo > img{
    width: 100%;
    max-width: 200px;
    margin: 0px auto 30px auto;
}
.app-logo{
    text-align: center;
}
.Title-label{
    margin-bottom: 0px !important;
    margin-top: 10px;
}
.table-label{
    font-size: 16px;
    font-weight: 600;
    padding: 5px 0px;
}
.table-text{
    font-size: 16px;
    padding: 5px 0px;
}

@media print {
  
    .print-col-50{
        width: 50%;
    }

   }